body {
  color: #2d3339;
  font-family: "Varela Round";
  text-align: center;
  background: #edeff0;
  font-size: 16px; }

a {
color: #5a6772;
  font-weight: bold;
  text-decoration: none;
 }
.list {
  background: #fff;
  width: 50%;
  margin: 80px auto 0;
  border-top: 30px solid #5a6772;
  text-align: left;
  padding: 10px; }
  .list .item {
    border-bottom: 2px solid #edeff0;
    padding: 17px 0 18px 17px; }
    .list .item label {
      padding-left: 5px;
      cursor: pointer; }
    .list .item .editing-label {
      margin-left: 5px;
      font-family: "Varela Round";
      border-radius: 2px;
      border: 2px solid #a7b9c4;
      font-size: 16px;
      padding: 15px 0 15px 10px;
      width: 60%; }
    .list .item .actions {
    float: none;
    margin-right: 20px;
    margin-top: 20px; }
      .list .item .actions .delete {
        color: #ed5a5a;
        margin-left: 10px; }
        .list .item .actions .delete:hover {
          color: #f28888; }
    .list .item.editing-item .actions {
      margin-top: 17px; }
  .list .edited label:after {
    content: " edited";
    text-transform: uppercase;
    color: #a7b9c4;
    font-size: 14px;
    padding-left: 5px; }
  .list .completed label {
    color: #a7b9c4;
    text-decoration: line-through; }
  .list .add {
  padding: 15px;
  text-align: center;
  margin: 15px;
  background: #edeff0;}
  .list .add:hover {background: #5a6772;}
  .list .add:hover {color: white;}

@media(max-width: 767px){
  .list{width: 90%;}
}
@media(min-width: 768px) and (max-width: 991px){
  .list{width: 70%;}
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(checkbox-empty.svg) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + span {
    background:url(checkbox-filled.svg) left top no-repeat;
}